<html ng-app="amazon">
<head>
<title>Admin</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script	src="https://code.angularjs.org/1.3.15/angular.js"></script>
<script src="/scripts/ng-map.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<style>
/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	min-height: 200px;
}
.button {
    background-color: #31b404; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {background-color: #01DF01}

.button:active {
  background-color: #0000FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}
h3 {text-align:center;}
</style>

<script src="/angularjs/amazonStart.js"></script>
<script src="/angularjs/AllAreaChartController.js"></script>

</head>
<body ng-controller="AllAreaChartController" ng-init="populate('<%=JSON.stringify(stat) %>');">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <img src=".\images\logo.png" alt="Image">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/adminProfile">Home</a></li>
        
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/logout">Logout<span class="glyphicon glyphicon-log-in"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<h3><font color = "#8BBA5D"><b>Trip Statistics</b></font></h3>
<div id="container" style="width: 310px; height: 400px; margin: 0 auto"></div>


</body></html>